// Owl Carousel customize
.product_owl_carousel {
  & .item {
    width: 85% !important;
    position: relative;
    cursor: pointer;
    & .hidden_details {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      transition: 0.5s all linear;
      opacity: 0;
      & .hidden_icons {
        padding: 1rem 1.8rem;
        & img {
          width: 2rem;
          height: 2rem;
          margin: 0 1rem;
          &:hover {
            filter: brightness(0) saturate(100%) invert(70%) sepia(12%)
              saturate(8%) hue-rotate(324deg) brightness(87%) contrast(80%);
          }
        }
      }
    }
    & .first_one {
      filter: brightness(0) saturate(100%) invert(65%) sepia(93%) saturate(380%)
        hue-rotate(360deg) brightness(98%) contrast(96%);
    }
    & .star {
      width: 1.6rem;
      height: 1.6rem;
      margin: 0.8rem 0.2rem;
      filter: invert(82%) sepia(20%) saturate(18%) hue-rotate(52deg)
        brightness(104%) contrast(87%);
    }
    & h4 {
      color: $text-black;
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
      &:hover {
        color: $primary-color;
      }
    }
    & span {
      font-size: 1.4rem;
    }
    & .price {
      color: $primary-color;
    }
    &:hover .hidden_details {
      opacity: 1 !important;
    }
  }
}
.owl-nav button {
  position: absolute;
  background: #f7f7f7 !important;
  width: 5rem;
  height: 5rem !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  &:hover {
    background: $primary-color !important;
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(287deg)
        brightness(104%) contrast(102%);
    }
  }
  & img {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(36%) sepia(45%) saturate(0%) hue-rotate(214deg)
      brightness(105%) contrast(91%);
  }
}
.owl-prev {
  top: 40%;
  right: -3%;
}
.owl-next {
  top: 40%;
  left: -6%;
}
.owl-prev span,
.owl-next span {
  width: 5rem;
  font-size: 5rem;
}
// Owl Carousel customize End

@media (max-width: 768px) {
  .our_products {
    & p {
      &::before {
        width: 6.9rem;
        margin-left: -9rem;
      }
    }
  }
}
