.top_header {
  .top_header_child {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem 1rem;
    & .phone_no:hover {
      filter: invert(28%) sepia(86%) saturate(3727%) hue-rotate(340deg)
        brightness(99%) contrast(89%);
    }
  }
  .search {
    & input {
      border: none;
      outline: none;
      background: none;
      font-size: 1.4rem;
      &::placeholder {
        font-size: 1.4rem;
        color: rgb(92, 90, 90);
      }
    }
    & img {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 24rem;
      transition: 0.2s all;
      &:hover {
        filter: invert(41%) sepia(10%) saturate(572%) hue-rotate(179deg)
          brightness(91%) contrast(84%);
        transform: scale(1.2);
      }
    }
    & hr {
      margin-top: 1.3rem;
      color: $light-color;
    }
  }
  .social_icons {
    & img {
      margin: 0 0.9rem;
      width: 1.7rem;
      height: 1.7rem;
      cursor: pointer;
      &:hover {
        transition: 0.1s all;
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: 991px) {
  .top_header {
    display: none;
  }
}
