// Fonts
$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Roboto Condensed", sans-serif;
// Colors
$primary-color: #ef3444;
$light-color: #999999;
// Text Colors
$text-black: #333333;
$text-white: #fff;
